{% extends "site_base.html" %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div id="signin-modal" class="section">
            <div class="modal-header">
                <h3>Sign in</h3>
            </div>
            <div class="modal-body">
                <form id="login-form-no-modal" method="post" action="{% url auth_ajax_login %}">
                    {% csrf_token %}
                    <div id="loginMessage-no-modal"></div>
                    <label for="user_email">
                        <strong>{% trans "Email" %}:</strong>
                    </label>
                    <input class="span4 required email" id="user_email" name="email" type="email"/>

                    <label for="user_password">
                        <strong>{% trans "Password" %}:</strong>
                    </label>
                    <input class="span4 required" id="user_password" name="password" type="password"/>
                    <input type="hidden" name="next" value="{{ next }}" />
                    <input class="btn-facebook btn-signin btn-toolbar" name="commit" type="submit"
                           value="{% trans "Sign In" %}">
                </form>
            </div>
            <div class="modal-footer">
                <p>
                    <input type="button" class="btn-facebook" onclick="window.location='{% url socialauth_begin 'facebook' %}'" />
                </p>

                <p>
                    <a href="#" class="pull-left">{% trans "Forgot Password?" %}</a>
                    <a href="#" class="pull-right">
                        {% trans "Sign up to KidAdmit" %}
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $("#login-form-no-modal").validate();

            $("#login-form-no-modal").submit(function () {
                var form = $("#login-form-no-modal");
                $("#loginMessage-no-modal").empty();
                if (form.valid()) {
                    $.ajax({
                        url:"{% url auth_ajax_login %}",
                        type:"POST",
                        data:$("#login-form-no-modal").serialize(),
                        success:function (url) {
                            window.location = url;
                        },
                        error:function (jqXHR) {
                            if (jqXHR.status == 403) {
                                $("#loginMessage-no-modal").text(jqXHR.responseText);
                            } else {
                                $("#loginMessage-no-modal").text("Error Contacting Server");
                            }
                        }
                    });
                }
                return false;
            });
        });
    </script>
{% endblock %}
