{% extends "site_base.html" %}
{% load bootstrap_tags %}
{% load i18n %}

{% block content %}
    <div class="container">

        <form method="post" action=".">
            {% csrf_token %}
            <fieldset>
                {% csrf_token %}
                {{ form|as_bootstrap:"display_required=True" }}
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}
