{% extends "site_base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <div id="signin-modal" class="section">
            <form class="modal-form" id="signup-form" action="{% url registration_register %}" method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h3>{% trans "Sign up for KidAdmit" %}</h3>
                </div>
                <div class="modal-body">
                    <p>
                        {% trans "Save the pre-schools that matter to you!" %}
                    </p>

                    <div id="signup_modal_message"></div>
                    <fieldset>
                        <label for="user_name">
                            <strong>{% trans "Name" %}:</strong>
                        </label>
                        <input class="span4 required" id="user_name" name="username" placeholder="First and Last Name"
                               type="text"/>

                        <label for="id_email_signup">
                            <strong>{% trans "Email" %}:</strong></label>
                        <input class="span4 required email" id="id_email_signup" name="email"
                               placeholder="you@website.com"
                               type="email"/>

                        <label for="id_password_signup">
                            <strong>{% trans "Password" %}:</strong>
                        </label>
                        <input class="span4 required" id="id_password_signup" name="password1" type="password">
                        <input type="hidden" id="id_password_signup_2" name="password2" value=""/>
                    </fieldset>
                    <input class="btn-facebook btn-signin btn-toolbar" name="commit" type="submit" value="Sign up">
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn-facebook" onclick="window.location='{% url socialauth_begin 'facebook' %}'" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}