{% extends "admin/base.html" %}
{% load i18n %}
{% block extrastyle %}
<style>
#header{ background-color: #258CCE; border-bottom: solid 3px #999; }
 
#branding h1{ color: #FFFFFF; font-weight: bold; text-align: center;}
.module h2, .module caption, .inline-group h2 { background:#ccc url(/admin_media/img/admin/nav-bg.gif) bottom left repeat-x; color: #333940; }
a.section:link, a.section:visited { color: #666666; }
</style>
{% endblock %}

{% block title %}{{ title }} | {% trans 'KidAdmit site admin' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'KidAdmit administration' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
