{% extends 'site_base.html' %}
{% block head_title %} School Search {% endblock head_title %}
{% load i18n %}

{% block extra_css %}
<style type="text/css">
<!--
#map_canvas { height: 350px; width: 100% ;  }
.endless_container { display: block; margin-left: 300px;}
#marker-content .school-name {color:#258CCE; font-weight: bold;}
#marker-content .school-info {color:##000000;}

.round-grey {
border:1px solid #EBE9E4;
background-color: #F1F1EC;
padding:5px;
 /* border-radius */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* box-shadow */
  -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}
.school-entry {margin-left: 30px; padding: 5px;  }
.school-img-col {width: 40px; margin-right: 10px; }
.school-info-1 {width: 500px; }
.school-info-2 {width: 100px; right: 0px;}

.rjustify { text-align: right;}
.search_criteria {
  text-align: center;
  float:left;
  width: 250px; 
  padding:7px 7px 7px 7px;
  background-color: #F1F2ED;
}
-->
</style>
{% endblock extra_css %}

{% block extra_js %}
<script type="text/javascript" charset="utf-8">
function initialize() {
     var myLatLng = new google.maps.LatLng({{ address_geocode.lat }}, {{ address_geocode.lng }});
     var mapOptions = {
        zoom: 13,
        mapTypeControl: true,
        scrollwheel: false,
        mapTypeControlOptions: {
          style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
        },
        zoomControl: true,
        zoomControlOptions: {
          style: google.maps.ZoomControlStyle.LARGE
        },
        center: myLatLng,
        mapTypeControl: true,
        mapTypeControlOptions: {
            style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
        },
        scrollwheel: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
      var homeImg = new google.maps.MarkerImage("{{STATIC_URL}}images/map/blue-pin.png",
		new google.maps.Size(32.0, 32.0),
		new google.maps.Point(0, 0),
		new google.maps.Point(16.0, 16.0)
      );
     var shadow = new google.maps.MarkerImage("{{STATIC_URL}}images/map/shadow.png",
   	    new google.maps.Size(49.0, 32.0),
   	    new google.maps.Point(0, 0),
   	    new google.maps.Point(16.0, 16.0)
   	);
      var addrMarker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Home',
          icon: homeImg,
          shadow: shadow,
          zIndex: 1,
      });
      var infoWindow = new google.maps.InfoWindow({
              content: 'Home'
      });
      google.maps.event.addListener(addrMarker, 'click', function(event) {
               map.panTo(event.latLng);
               infoWindow.open(map, this);
           }
      );
      
      setMarkers(map, school_markers);
      infoWindow = new google.maps.InfoWindow();
      for (var i = 0, marker; marker = markers[i]; i++) {
        google.maps.event.addListener(marker, 'click', function(e, i) {
            infoWindow.setContent(this.content);
            map.panTo(this.position);
            infoWindow.open(map, this);
        });
      }
      
    }
var school_markers = [
  {% for school in school_list %}
   ['{{ school.name|escape }}', {{school.lat|escape}}, {{school.lng|escape}}, '<div id="marker-content"><div class="school-name">{{school.name|escape}}</div><div class="school-info"><p>{{ school.school_type|escape }}</p></div></div>'],
  {% endfor %}
 ];
var markers = [];
var infoWindows =[];
var infoWindow;

function setMarkers(map, locations) {
      for (var i = 0; i < locations.length; i++) {
        var school = locations[i];
        var myLatLng = new google.maps.LatLng(school[1], school[2]);
        var image = new google.maps.MarkerImage("{{STATIC_URL}}images/map/orange-pin.png",
       	    new google.maps.Size(32.0, 32.0),
       	    new google.maps.Point(0, 0),
       	    new google.maps.Point(16.0, 16.0)
       	);
       	var shadow = new google.maps.MarkerImage("{{STATIC_URL}}images/map/shadow.png",
       	    new google.maps.Size(49.0, 32.0),
       	    new google.maps.Point(0, 0),
       	    new google.maps.Point(16.0, 16.0)
       	);

        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: school[0],
            icon: image,
            shadow: shadow,
            animation : google.maps.Animation.DROP,
            infoWindowIndex : i,
            zIndex: 0,
            draggable: false,
            content: school[3],
        });
        markers.push(marker);
      }
}
    function loadScript() {
      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src = "http://maps.googleapis.com/maps/api/js?key=AIzaSyAA74pnUb331_EGc6POkPg-mqfCCRivTC8&sensor=false&callback=initialize";
      document.body.appendChild(script);
    }
    
function openMarker(i){
   google.maps.event.trigger(markers[i],'click');
   var e = window.event;
   e.returnValue = false;
 };

window.onload = loadScript;
</script>
<script src="{{STATIC_URL}}endless_pagination/js/endless.js" type="text/javascript" charset="utf-8"></script>
<script src="{{STATIC_URL}}endless_pagination/js/endless_on_scroll.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
    var endless_on_scroll_margin = 1;
</script>
<script type="text/javascript" charset="utf-8">
function toggleSaveSchool(id) {
	var btnId='#'+id+'btn';
	if (is_login == false) {
        $("#signin-modal").modal({
            show: true
        });
        $("input[name=next]").val(document.location);
        return false;
    }
	var cmd = 'save';
	if ($(btnId).attr('class').indexOf('btn-saved') != -1) {
		cmd = 'remove';
	}
	$.post('{% url tag_school %}', {school: id, cmd: cmd,})
	.success(function(data) {
			if(cmd != 'save') {
				$(btnId).removeClass('btn-saved'); 
				$(btnId).val(' Save School ');
            } else {
            	$(btnId).addClass('btn-saved'); 
				$(btnId).val(' Saved ');
            }
	})
    .error(function(error) {
    	alert ("Sorry we are experiencing technical problems, please try again later.");
    });
	return false;
}
</script>
{% endblock extra_js %}

{% block content %}
<div id="map_canvas"></div>
<br/>
<div class="row">
    <div class="span14">
        <div class="row">
            <div class="span8 offset2">
            {% if code == 'success' %}
                {% if total_results > 0 %}
                    <div class="round-grey"><strong>{{ total_results }} Schools Nearby</strong></div><br>
                    {% include page_template %}
                {% else %}
                    <div> Sorry, we were unable to find schools matching that criteria in your neighborhood.</div>
                {% endif %}
            {% else %}
                <div> Sorry, we are having technical problems. Please stop by later.</div>
            {% endif %}
            </div>
            <div class="span4">
                <form style="padding-left: 7px;" class="well round-grey" method="post" action="{% url school_search %}" name="search_criteria">{% csrf_token %}
					<label><strong>Filter by:</strong></label>
					<hr style="color:blue;background-color:blue;">
					<label style="margin: 0px;"><strong>What's your zip code or address?</strong></label>
					<input style="margin-bottom: 1px ;" name="address" id="id_address" class="span3" value="{% if search_form.address.value %}{{ search_form.address.value }}{% endif %}" placeholder="{% trans "e.g. 94134" %}">
					<label style="margin-top: 3px;"><strong>School Name</strong></label>
					<input style="margin-bottom: 1px ;" name="school_name" id="id_school_name" class="span3" value="{% if search_form.school_name.value %}{{ search_form.school_name.value }}{% endif %}" placeholder="{% trans "e.g. Tiny Giants" %}">
					<label style="margin: 3px 0px 0px 0px;"><strong>School Type</strong></label>
					<label style="margin: 1px;" for="id_school_types_0" class="checkbox inline">
					<input {% if 'PS' in search_form.school_types.value %}checked="checked"{% endif %} type="checkbox" name="school_types" value="PS" id="id_school_types_0">
					Pre-school</label>
					<label style="margin: 1px;" for="id_school_types_1" class="checkbox inline">
					<input {% if 'DC' in search_form.school_types.value %}checked="checked"{% endif %} type="checkbox" name="school_types" value="DC" id="id_school_types_1">
					Daycare</label>
					<div style="margin-top: 5px; text-align: center;">
					<input class="btn btn-success span3" value="Apply Filters" type="submit">
					</div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
