<footer>
    <div id="footer-floor">
        <div class="container">
            <div class="fh3 pull-left"><a href="#">About</a></div><div class="fh3 pull-left"><a href="#">Privacy</a></div>
            <div class="fh3 pull-left"><a href="#">Terms of Use</a></div><div class="fh3 pull-left"><a href="#">Contect</a></div>
        </div><div class="container fcg lh30">Made with in <img src="{{ STATIC_URL }}img/heart.png" /> San Francisco | © 2012 KidAdmit, Inc. All rights reserved.</div>
    </div>
</footer>