<footer>
    <div id="footer-floor"">
        <div class="container">
            <div class="row-fluid">
                <a href="#" class="pull-left">About</a><a href="#" class="pull-left offset0">Privacy</a>
                <a href="#" class="pull-left offset0">Terms of Use</a>
                <a href="#" class="pull-left offset0">Contect</a>
                <span class="kid-btn kid-btn-follow pull-right"></span>
                <span class="kid-btn kid-btn-like pull-right"></span>
            </div>
            <div class="container fcg">Made with in <img src="{{ STATIC_URL }}img/heart.png"/> San Francisco | © 2012
                KidAdmit, Inc. All rights reserved.
            </div>
        </div>
    </div>
</footer>