{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<head>
    <meta content="We Make the Preschool Application Process Easy - KidAdmit" name="description"/>
    <meta content="preschool, pre-school, kid, child, admit, applications, Application process, school"
          name="keywords"/>
    <meta content="KidAdmit" property="og:title"/>
    <meta content="We Make the Preschool Application Process Easy - KidAdmit" property="og:description"/>
    <link rel="shortcut icon" href="{{STATIC_URL}}image/favicon.ico %}">
    <meta property="og:title"
          content="KidAdmit - Are you unorganized and overwhelmed about the preschool application process? We can help!"/>
    <meta property="og:type" content="company"/>
    <meta property="og:site_name" content="KidAdmit"/>
    <meta property="og:url" content="http://kidadmit.com"/>
    <meta property="og:image" content="null"/>
    <meta property="og:description"
          content="Are you unorganized and overwhelmed about the preschool application process? KidAdmit is here to help!"/>
    <title>{% block head_title %}{% trans "Home" %}{% endblock %} | {% trans "KidAdmit" %}</title>
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}css/newkidadmit.css" rel="stylesheet" type="text/css"/>
    <script src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>
    {% block extra_css %}
    {% endblock %}
</head>
<body>

{% include "_head.html" %}

{% block content %}
{% endblock %}

<!--sign in begin-->
<div id="signin-modal" class="modal hide fade">
    <form id="signin-form" class="modal-form" method="post" action="{% url auth_ajax_login %}">
        {% csrf_token %}
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>{% trans "Sign In" %}</h3>
        </div>
        <div class="modal-body">
            <div id="signin_modal_message"></div>
            <fieldset>
                <label for="signin_email">
                    <strong>{% trans "Email" %}:</strong>
                </label>
                <input class="required email span4" id="signin_email" name="email" type="email"/>

                <label for="user_password">
                    <strong>{% trans "Password" %}:</strong>
                </label>
                <input class="span4 required" id="user_password" name="password" type="password"/>
                <input type="hidden" name="next" value=""/>
            </fieldset>

            <input class="btn-facebook btn-signin btn-toolbar" name="commit" type="submit"
                   value="{% trans "Sign In" %}">
        </div>
        <div class="modal-footer">
            <p>
                <input type="button" class="btn-facebook" name="commit"
                       onclick="$('#facebook-connect-form').submit(); return false;"
                       value=""/>
            </p>

            <p>
                <a id="forgot-password" href="#" class="pull-left">{% trans "Forgot Password" %} ?</a>
                <a data-toggle="modal" id="signup-on-login" href="#" class="pull-right">
                    {% trans "Sign up to KidAdmit" %}
                </a>
            </p>
        </div>
    </form>
</div>
<!--sign in end-->

<!--forgot password begin-->
<div id="forgotpassword-modal" class="modal hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>

        <h3 class="small">{% trans "Forgot Your Password" %}?</h3>
    </div>
    <div class="modal-body">
        <p>
            {% trans "Enter your email and we'll send you instructions on how to reset your password." %}
        </p>

        <div id="forget_password_modal_message"></div>
        <form class="modal-form" id="forget-password-form" action="{% url auth_ajax_password_reset %}" method="post">
            {% csrf_token %}
            <fieldset>
                <label for="forget_password_email">
                    <strong>{% trans "Email" %}:</strong>
                </label>
                <input class="span4 required" id="forget_password_email" name="email" type="email">
            </fieldset>
            <input class="btn-facebook btn-signin btn-toolbar" name="commit" type="submit" value="{% trans "Submit" %}">
        </form>
    </div>
</div>
<!--forgot password end-->

<!--forgot password begin-->
<div id="forgotpassword-done-modal" class="modal hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>

        <p>
            {% blocktrans %}
                We've sent password reset instructions to your email address.
            {% endblocktrans %}
        </p>
    </div>
    <div class="modal-body">
        <p>
            {% trans "We've sent and email to:" %}
        </p>
        <p>
            <strong id="reset_email_address"></strong>
        </p>

        <p>
            {% blocktrans %}
                If you don't receive instructions within a couple of minutes. Check your email span or junk folders, or try <a href="#">resending your request</a>.
            {% endblocktrans %}
        </p>

        <button id="reset_password_ok" class="btn-facebook btn-signin btn-toolbar">{% trans "OK" %}</button>
    </div>
</div>
<!--forgot password end-->

<!--sign up begin-->
<div id="signup-modal" class="modal hide fade">
    <form class="modal-form" id="signup-form" action="{% url registration_register %}" method="post">
        {% csrf_token %}
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>{% trans "Sign up for KidAdmit" %}</h3>
        </div>
        <div class="modal-body">
            <p>
                {% trans "Save the pre-schools that matter to you!" %}
            </p>

            <div id="signup_modal_message"></div>
            <fieldset>
                <label for="user_name">
                    <strong>{% trans "Name" %}:</strong>
                </label>
                <input class="span4 required" id="user_name" name="username" placeholder="First and Last Name"
                       type="text"/>

                <label for="id_email_signup">
                    <strong>{% trans "Email" %}:</strong></label>
                <input class="span4 required email" id="id_email_signup" name="email" placeholder="you@website.com"
                       type="email"/>

                <label for="id_password_signup">
                    <strong>{% trans "Password" %}:</strong>
                </label>
                <input class="span4 required" id="id_password_signup" name="password1" type="password">
                <input type="hidden" id="id_password_signup_2" name="password2" value=""/>
            </fieldset>

            <input class="btn-facebook btn-signin btn-toolbar" name="commit" type="submit"
                   value="{% trans "Sign up" %}">
        </div>
        <div class="modal-footer">
            <p>
                <input type="button" class="btn-facebook" name="commit"
                       onclick="$('#facebook-connect-form').submit(); return false;"
                       value="">
            </p>
            {% trans "Already have an account? " %}
            <a id="already-have-account" href="#" class="pull-right offset0">{% trans "Sign in" %}</a>
        </div>
    </form>
</div>
<!--sign up end-->

{% include "_footer.html" %}
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.validate.js"></script>
{% block extra_js %}{% endblock %}
<script charset="utf-8" type="text/javascript">
    var is_login = false;
    $(document).ready(function () {
        {% if user.is_authenticated %}
            is_login = true;
        {% endif %}

        $("a.need_login").click(function () {
            if (is_login == false) {
                $("#signin-modal").modal({
                    show:true
                });

                $("input[name=next]").val($(this).attr("href"));
                return false;
            }
        });

        $("#id_password_signup").change(function () {
            $("#id_password_signup_2").val($("#id_password_signup").val());
        });

        // Use the jquery validate to check the login form before submit
        $("#signin-form").validate();

        $("#signin-form").submit(function () {
            var form = $("#signin-form");
            $("#signin_modal_message").empty();
            if (form.valid()) {
                $.ajax({
                    url:"{% url auth_ajax_login %}",
                    type:"POST",
                    data:$("#signin-form").serialize(),
                    success:function (url) {
                        $("#signin-modal").modal("hide");
                        window.location = url;
                    },
                    error:function (jqXHR) {
                        if (jqXHR.status == 403) {
                            $("#signin_modal_message").text(jqXHR.responseText);
                        } else {
                            $("#signin_modal_message").text("Error Contacting Server");
                        }
                    }
                });
            }
            return false;
        });

        // Use the jquery validate to check the signup form before submit
        $("#signup-form").validate();

        $("#signup-form").submit(function () {
            var form = $("#signup-form");
            if (form.valid()) {
                $("#signup_modal_message").empty();
                $.ajax({
                    url:"{% url registration_register %}",
                    type:"POST",
                    data:$("#signup-form").serialize(),
                    success:function (data) {
                        if (data.url != null) {
                            window.location = data.url;
                        } else {
                            $.each(data, function (key, value) {
                                $("#signup_modal_message").append("<p>" + key + ": " + value + "</p>");
                            });
                        }
                    }
                });
            }
            return false;
        });

        $("#forget-password-form").validate();

        $("#forget-password-form").submit(function () {
            var form = $("#forget-password-form");
            if (form.valid()) {
                $("#forget_password_modal_message").empty();
                $.ajax({
                    url:"{% url auth_ajax_password_reset %}",
                    type:"POST",
                    data:form.serialize(),
                    success:function (data) {
                        if (data.success != null) {
                            $("#forgotpassword-modal").modal("hide");
                            $("#reset_email_address").html(data.email);
                            $("#forgotpassword-done-modal").modal("show");
                        } else {
                            $.each(data, function (key, value) {
                                $("#forget_password_modal_message").append("<p>" + key + ": " + value + "</p>");
                            });
                        }
                    }
                });
            }
            return false;
        });

        $("#signup-on-login").click(function () {
            $("#signin-modal").modal("hide");
            $("#signup-modal").modal("show");
        });

        $("#already-have-account").click(function () {
            $("#signup-modal").modal("hide");
            $("#signin-modal").modal("show");
        });

        $("#forgot-password").click(function () {
            $("#signin-modal").modal("hide");
            $("#forgotpassword-modal").modal("show");
        });

    $("#reset_password_ok").click(function() {
        $("#forgotpassword-done-modal").modal("hide");
    });

    });
</script>
</body>
</html>
